asgiref==3.11.1
azure-core==1.39.0
azure-storage-blob==12.28.0
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==46.0.7
Django==6.0.4
django-picklefield==3.4.0
django-q2==1.10.0
dj-database-url>=2.1.0
django-storages==1.14.6
django-unfold==0.92.0
django-axes==6.1.0
gunicorn==25.3.0
idna==3.13
isodate==0.7.2
packaging==26.1
pillow==12.2.0
psycopg2-binary==2.9.12
pycparser==3.0
python-dotenv==1.2.2
reportlab==4.5.0
requests==2.33.1
sqlparse==0.5.5
typing_extensions==4.15.0
urllib3==2.6.3
whitenoise>=6.0.0
